<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage Users</h2></div>
  <div class="m-2">
    <a class="h3" th:href="@{/users/new}">agregar Usuario</a>
  </div>

  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>E-mail</th>
          <th>Primer Nombre</th>
          <th>Apellidos</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Enabled</th>
          <th></th>
        </tr>

      <tbody>
      <th:block th:each="usuario : ${listusers}">

       <tr>
         <td>[[${users.id}]]</td>
         <td>[[${users.nombre}]]</td>
         <td>[[${users.Apellidos}]]</td>
         <td>[[${users.email}]]</td>
         <td>[[${users.Direccion}]]</td>
         <td>[[${users.telefono}]]</td>
         <td>[[${users.enabled}]]</td>
         <td>
           <a class="h4 mr-3" th:href="@{'/users/edit/' + ${users.id}}">Edit</a>
           <a class="h4" th:href="@{'/users/delete/' + ${users.id}}">Delete</a>
         </td>
       </tr>

      </th:block>

      </tbody>
    </table>

  </div>
</div>
</body>
</html>