<!DOCTYPE html>
<html class="wide wow-animation" lang="es">
<head>
    <title>GRAN VÍA - Registro Autor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicongranvia.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: rgba(33, 33, 33, 0.356);padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<body>

        <div class="contenedor-menu-formulario">

            <nav>
                <ul>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/indexAdmin">Inicio</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/titlesAdmin">Títulos</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/authorsAdmin">Autores</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/usersAdmin">Usuarios</a>
                    </li>
                    <li class="rd-nav-item">
                        <img src="../../images/admin.png" alt="" srcset="" style="width: 90px; height: 90px; border-radius: 45px; margin-right: -5vh; padding: 2px">
                    </li>
                </ul>
            </nav>
        </div>

     <main>

        <form th:action="@{/editAuthor/{id}(id=${autor.id})}" th:object="${autor}" method="post">
        <label for="nombre">Nombre</label>
        <br/>
        <input type="text" th:field="*{nombreAutor}" id="nombre" placeholder="Nombre">
        <span th:if="${#fields.hasErrors('nombreAutor')}" th:errors="*{nombreAutor}"></span>
        <br/>
        <label for="apellido">Apellido</label><br/>
        <input type="text" th:field="*{apellido}" id="apellido" placeholder="Apellido">
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span><br/>
        <label for="nacimiento">Nacimiento</label><br/>
        <input type="date" th:field="*{fechaNacimiento}"/><br/>
          <input type="submit" value="Actualizar Autor">
        </form>
     </main>

     <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <p>976877267</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>GV-library@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Calle Gran Vía, 7 (Madrid)</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
    </footer>
  </body>
  </html>