<!DOCTYPE html>
<html class="wide wow-animation" lang="es">
<head>
  <title>GRAN VÍA - Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--  Logo favicon -->
  <link rel="icon" href="images/favicongranvia.ico" type="image/x-icon">
  <!--  Estilos de letra -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!--  Estilos locales personalizados -->
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/style.css">
  <style>.ie-panel{display: none;background: rgba(33, 33, 33, 0.356);padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>          
        </div>        
        <p>Generando historias...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-wide" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="images/logogranvia.png" alt="" width="261" height="72" srcset="images/logogranvia_300x300.png"/><img class="brand-logo-light" src="images/logogranvia_250.png" alt="" width="133" height="45" srcset="images/logogranvia_small_125.png"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="indexUser">Inicio</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="titlesUser">Títulos</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="authorsUser">Autores</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="indexLendUser">Prestamos</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="indexBookingUser">Reservas</a></li> 
                    <li class="rd-nav-item">
                      <img src="images/user.png" alt="" srcset="" style="width: 90px; height: 90px; border-radius: 45px; margin-right: -5vh; padding: 2px">
                    </li>
                  </ul>                  
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Preview section-->
      <section class="section context-dark bg-image bg-mask bg-mask-2 section-fullheight section-90vh" style="background-image: url(images/cabecera-book-purple.png)" >
        <div class="section-fullheight-inner section-md">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-xl-6 text-center text-md-center">
                <div class="jumbotron-custom wow fadeInRight">
                  <div class="text-1">Biblioteca Gran Vía</div>
                  <div class="text-2">donde cada página es una</div>
                  <div class="title">Aventura</div>
                  <p class="big">Explora el Saber, Vive la Cultura</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- EVERY PROJECT-->
      <section class="section section-xl-custom image-section section-lined">
        <div class="container container-lined">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <h3>Cada proyecto</h3>
              <div class="big big-custom">es un reto para hacerlo mejor</div>
              <p>
                Bienvenidos al Sistema de Administración de la Biblioteca Gran Vía <br>
                El núcleo tecnológico que impulsa nuestra eficiencia y servicio excepcional. Si quieres saber qué cambios hemos hecho
                este es tu lugar.    
              </p>
              <div class="button-wrap-2"><a class="button button-default" href="about-us">Saber más</a></div>
            </div>
          </div>
        </div>
        <div class="image-container">
          <div class="mock-up-1">
            <div class="object object-1"><img class="wow fadeInRight" src="images/graovin.png" alt="" width="395" height="243"/>
            </div>
            <div class="object object-2"><img class="wow fadeInRight" src="images/historical.png" alt="" width="384" height="189" data-wow-delay="0.2s"/>
            </div>
            <div class="object object-3"><img class="wow fadeInRight" src="images/she.png" alt="" width="395" height="243" data-wow-delay="0.4s"/>
            </div>
            <div class="object object-4"><img class="wow fadeInRight" src="images/space-library-gran-via.png" alt="" width="209" height="184" data-wow-delay="0.6s"/>
            </div>
            <div class="object object-5"><img class="wow fadeInRight" src="images/CLIC.png" alt="" width="395" height="243" data-wow-delay="0.2s"/>
            </div>
            <div class="object object-6"><img class="wow fadeInRight" src="images/darknessandadventure.png" alt="" width="275" height="184" data-wow-delay="0.4s"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Our awards-->
      <section class="section section-lg bg-default section-lined">
        <div class="container container-lined">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="container">
          <div class="row row-30 align-items-center">
            <div class="col-sm-12 col-lg-4">
              <h3>Gracias Equipo</h3>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="big block-3-custom">Estos premios no solo son un testimonio de nuestro arduo trabajo y dedicación, sino también un recordatorio de nuestro compromiso continuo.</div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="block-2-custom">
                <div class="counter-minimal">
                  <div class="counter-left">
                    <div class="counter">8</div>
                  </div>
                  <div class="counter-right">
                    <div class="postfix">+</div>
                    <div class="title">Premios de la IFLA</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-border-wrap-1 wow fadeInUp" data-wow-delay="0.2s">
            <div class="row"><a class="col-6 col-md-4 box-border" href="#">
                <div class="title">#1: Galardón por Tecnología Innovadora</div><img src="images/granvia-principalwindows.png" alt="" width="200" height="80"/></a><a class="col-6 col-md-4 box-border" href="#">
                <div class="title">#2: Premio a la Innovación Bibliotecaria</div><img src="images/logo-granvia.jpg" alt="" width="200" height="80"/></a><a class="col-6 col-md-4 box-border" href="#">
                <div class="title">#3: Premio a la Sostenibilidad y Servicio Comunitario</div><img src="images/natural-park.png" alt="" width="200" height="80"/></a><a class="col-6 col-md-4 box-border" href="#">
                <div class="title">#4: Diversidad Cultural y Literaria</div><img src="images/Cultural_and_Literary_Diversity_Award_This_reco.jpg" alt="" width="200" height="80"/></a><a class="col-6 col-md-4 box-border" href="#">
                <div class="title">#5: Inclusión y Empoderamiento de las Mujeres</div><img src="images/Womens_Inclusion_and_Empowerment_Award_This_pr.jpg" alt="" width="200" height="80"/></a><a class="col-6 col-md-4 box-border" href="#">
                <div class="icon icon-sm mdi mdi-arrow-right"></div></a></div>
          </div>
        </div>
      </section>
      <!-- Latest Works-->
      <section class="section section-xs section-xs-3 bg-default section-lined">
        <div class="container container-lined">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6">
              <h3>Últimas innovaciones</h3>
            </div>
            <div class="col-sm-6 text-sm-right"><a class="button button-default" href="#">Ver todos los proyectos</a></div>
          </div>
        </div>
      </section>
      <!-- Latest Works-->
      <section class="section bg-gray-700 context-dark section-relative">
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-block-1 wow fadeInLeft">
              <div class="section-sm section-sm-3">
                <h5>Novedades</h5>
                <p>
                  Emocionados por anunciar que nuestro visionario líder, Ricardo Pérez del Castillo, ha dado un paso audaz hacia el futuro. 
                  Con una inversión de 1.4 millones de euros, estamos comprometidos con la renovación total de nuestro sistema bibliotecario. <br>
                  🚀📚 #RenovaciónGranVía #InnovaciónLiteraria
                </p>
                <div class="button-wrap"><a class="button button-default button-invariable" href="#">Saber más</a></div>
                <ul class="list-inline list-inline-sm-1">
                  <li>
                    <p>Share</p>
                  </li>
                  <li><a class="icon icon-sm link-default mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm link-default mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm link-default mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm link-default mdi mdi-youtube-play" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper-->
        <div class="swiper-section">
          <div class="swiper-container swiper-slider swiper-slider-1" data-next=".custom-swiper-button-next" data-prev=".custom-swiper-button-prev" data-loop="true">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-slide-bg="images/cabecera.png"></div>
              <div class="swiper-slide" data-slide-bg="images/granvia-principalwindows.png"></div>
            </div>
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation-->
          </div>
          <div class="custom-swiper-button-wrap">
            <div class="custom-swiper-button-next mdi mdi-arrow-right"></div>
            <div class="custom-swiper-button-prev mdi mdi-arrow-left"></div>
          </div>
        </div>
      </section>
      <!-- Team-->
      <section class="section section-lg bg-gray-100 section-lined">
        <div class="container container-lined">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="container">
          <div class="row row-40 justify-content-between">
            <div class="col-lg-7 col-xl-8">
              <div class="row no-gutters">
                <div class="col-sm-6 wow fadeInLeft">
                  <div class="box-team box-team-right"><img src="images/co-worker-1.jpg" alt="" width="390" height="332"/>
                    <div class="meta">
                      <div class="heading-6 title">Jeniffer Figueroa</div>
                      <p class="position">Bibliotecaria referencista</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 wow fadeInRight">
                  <div class="box-team box-team-right"><img src="images/co-worker-2.jpg" alt="" width="390" height="332"/>
                    <div class="meta">
                      <div class="heading-6 title">Diane Ezekwesili</div>
                      <p class="position">Analista documental</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="box-team box-team-right"><img src="images/co-worker-3.jpg" alt="" width="390" height="332"/>
                    <div class="meta">                      
                      <div class="heading-6 title">Daniel Parker</div>
                      <p class="position">Asistente Ejecutivo de B.Gran Via</p>                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
                  <div class="box-team box-team-right"><img src="images/IKREA-SOFT.jpg" alt="" width="390" height="332"/>
                    <div class="meta">
                      <div class="heading-6 title">Ikrea Soft</div>
                      <p class="position">Developer Team</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xl-4">
              <div class="row row-30 row-xxl-55 justify-content-end">
                <div class="col-sm-6 col-lg-9 col-xl-10 text-lg-right">
                  <h3>Equipo de innovación</h3>
                  <div class="big-text">El proceso de innovación se consigue gracias al equipo seleccionado por Ricardo Pérez del Castillo.</div>
                  <div class="divider divider-2 d-none d-lg-block"></div>
                </div>
                <div class="col-sm-6 col-lg-8 col-xl-7">
                  <div class="counter-minimal">
                    <div class="counter-left">
                      <div class="counter">4</div>
                    </div>
                    <div class="counter-right">
                      <div class="postfix">+</div>
                      <div class="title">Co-Workers</div>
                    </div>
                  </div>
                  <ul class="list-marked list-marked-big">
                    <li>8 profesionales excepcionales a tiempo completo</li>
                    <li>5+ años escuchando a nuestros clientes</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <div class="pre-footer-classic bg-gray-700 context-dark">
        <div class="container">
          <div class="row row-30 justify-content-lg-between">
            <div class="col-sm-6 col-lg-3 col-xl-3">
              <h5>Location</h5>
              <ul class="list list-sm">
                <li>
                  <p>Calle de la Gran Vía, 23 <sub>1/2</sub>,</p>
                </li>
                <li>
                  <p>Madrid, España</p>
                </li>
                <li>
                  <p>CA 28013</p>
                </li>
                <li>
                  <p><sub>
                    <a href="https://maps.app.goo.gl/oUCuF36G4yser1ho9" target="_blank" rel="noopener noreferrer">Biblioteca Gran Vía - ¿Cómo llegar?</a>
                  </sub></p>
                </li>
              </ul>
              <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1518.7616547517391!2d-3.700672711053567!3d40.41940983487686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0xd4228876def9beb%3A0x3928bfd85019b83b!2sC.Gran%20V%C3%ADa%2C%2023%2C%2028013%20Madrid!3m2!1d40.4198789!2d-3.7018917!4m5!1s0xd42287d6da3df33%3A0xe119406d894c5d21!2sC.Gran%20V%C3%ADa%2C%20Madrid!3m2!1d40.418973199999996!2d-3.6968991!5e0!3m2!1ses!2ses!4v1702141737040!5m2!1ses!2ses" width=100% height="145" style="border:0;" border-radius="2" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </p>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <h5>Contacts</h5>
              <dl class="list-terms-custom">
                <dt>Ph.</dt>
                <dd><a class="link-default" href="tel:#">+34-912-123-1234</a></dd>
              </dl>
              <dl class="list-terms-custom">
                <dt>Mail.</dt>
                <dd><a class="link-default" href="mailto:#">Info@granvia.edu</a></dd>
              </dl>
              <ul class="list-inline list-inline-sm">
                <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-behance" href="#"></a></li>
                <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h5>Newsletter</h5>
              <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap-icon">
                  <div class="form-icon mdi mdi-email-outline"></div>
                  <input class="form-input" id="footer-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="footer-email">E-mail</label>
                </div>
                <div class="button-wrap">
                  <button class="button button-default button-invariable" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="section footer-classic context-dark text-center">
        <div class="container">
          <div class="row row-15 justify-content-lg-between">
            <div class="col-lg-6 col-xl-6 text-lg-left">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. IKREA | BIBLIOTECA GRAN VÍA</p>
            </div>
            <div class="col-lg-6 col-xl-6">
              <ul class="list-inline list-inline-lg text-uppercase">
                <li><a href="about-us">Sobre nosotros</a></li>
                <li><a href="building">Equipo Gran Vía</a></li>
                <li><a href="building">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script type="text/javascript" src="js/core.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/loading-bar.js"></script>
  </body>
</html>