<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Reserva</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/addTitle-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="contenedor-menu-formulario">
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="addTitle">Gestionar Título</a></li>
            <li><a href="authors">Gestionar Autores</a></li>
            <li><a href="users/new">Registrar Usuario</a></li>
            <li><a href="users">Ver listado de Usuario</a></li>
        </ul>
    </nav>
</div>

<main style="padding-top: 80px;">
    <div class="container-fluid text-center">
        <h1>Confirmación de Reserva</h1>
        <p>La reserva se ha realizado exitosamente.</p>
    </div>
</main>

<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Teléfono</h4>
            <p>976877267</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>GVlibrary@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Ubicación</h4>
            <p>Calle Gran Vía, 7 (Madrid)</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
</footer>

</body>
</html>
