<!DOCTYPE html>
<html class="wide wow-animation" lang="es">
<head>
    <title>GRAN VÍA - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicongranvia.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <style>.ie-panel{display: none;background: rgba(33, 33, 33, 0.356);padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Creando la mejor biblioteca para la comunidad...</p>
    </div>
</div>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header">
    </header>
    <!-- Preview section-->
    <section> <br><br>
        <div class="container">

            <h1>Acciones de reserva</h1>
            <h3>Opciones:</h3>
        </div>
    </section>
    <!-- Opciones de prestamo -->
    <section class="contenedor-imagenes">
        <!-- Nuevo prestamo -->
        <div class="contenedor-imagenes">
            <div class="box-team box-team-right">
                <a href="addBookingUser">
                    <div class="box-team">
                        <img src="images/book.jpg" alt="" width="390" height="332"/>
                    </div>
                </a>
                <div class="meta">
                    <div class="heading-6 title">Nueva reserva</div>
                    <p class="position">Descubre, reserva, experimenta: Que nadie te robe tu viaje reserva tu libro ya.</p>
                </div>
            </div>
        </div>
        <!-- Devoluciones  -->
        <div class="contenedor-imagenes">
            <div class="box-team box-team-right">
                <a href="bookingsUser">
                    <div class="box-team">
                        <img src="images/checklist.png" alt="" width="390" height="332"/>
                    </div>
                </a>
                <div class="meta">
                    <div class="heading-6 title">Listado de reservas</div>
                    <p class="position">Vefifica las reservas</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="snackbars" id="form-output-global"></div>
<script type="text/javascript" src="js/core.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script type="text/javascript" src="js/loading-bar.js"></script>
<!-- coded by Drel-->
</body>
</html>

