
<form th:action="@{/addTitle}" th:object="${titulo}" method="post">
    <label for="titulo">Titulo:</label>
    <input type="text" th:field="${titulo.nombre}"/>
    <br><br>
    <label for="isbn">isbn:</label>
    <input type="text" th:field="*{isbn}"><br/><br/>
    <label for="numReserva">número reserva:</label>
    <input type="number" th:field="*{numReservas}"/><br/><br/>
    <label for="autor">Autor:</label>
    <select name="autor" th:field="*{autor}" multiple="multiple">
         <option value="">Select an author</option>
         <th:block th:each="author : ${autoresTodos}">
             <option th:value="${author.id}" th:text="${author.nombreAutor} +' '+ ${author.apellido}" ></option>
         </th:block>
     </select>
     <br><br>
    <input type="submit" value="Crear Titulo" onclick="location.href='redirect:/index.html'"/>
</form>
