<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Usuarios Registrados</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/addTitle-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="contenedor-menu-formulario">
    <nav>
        <ul>
            <ul>
                <li><a href="/">Catalogo de Titulos</a></li>
                <li><a href="identificar" class="btn btn-primary">Realizar Préstamo</a></li>
            </ul>
        </ul>
    </nav>
</div>

<main style="padding-top: 80px;"> <!-- Add padding to the top of the main content -->
    <div class="container-fluid text-center">
        <div><h2>Catalogo de Titulos</h2></div>

        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <!-- Barra de búsqueda -->
        <div>
            <label for="busqueda">Buscar:</label>
            <input type="text" id="busqueda" name="busqueda" placeholder="Buscar título...">
        </div>

        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Nombre de Titulo</th>
                    <th>ISBN</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="titulo : ${listTitles}">
                    <td th:text="${titulo.nombre}"></td>
                    <td th:text="${titulo.isbn}"></td>
                    <!--<td th:text="${titulo.autores}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Teléfono</h4>
            <p>976877267</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>GVlibrary@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Ubicación</h4>
            <p>Calle Gran Vía, 7 (Madrid)</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
</footer>

<!-- Agregar jQuery al final del body -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#busqueda').on('input', function() {
            var searchText = $(this).val().toLowerCase();
            $('tbody tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
            });
        });
    });
</script>
</body>
</html>
