<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Página web IKREA</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="menu">
            
            <nav>  
                <ul>
                 <li><a href="/">Inicio</a></li>
                 <li><a href="addTitle">Gestionar Título</a></li>
                 <!--<li><a href="addAuthor">Añadir Autor</a></li>-->
                 <li><a href="authors">Gestionar Autores</a></li>
                 <!--<li><a href="updateAuthor">Modificar Autor</a></li>-->
                 <li><a href="users">Gestionar Usuario</a></li>
                 <li><a href="Catalog">Gestionar Catalogo</a></li>
                    <li><a href="/prestamo/{usuarioId}/{tituloId}">Gestionar prestamos</a></li>
                    li><a href="/buscar">Gestionar reservas</a></li>
                </ul>
            </nav> 
        </div>    

        <section class="textos-header">
            <h1>Donde cada página es una Aventura</h1>
            <h2>¡Bienvenidos a la biblioteca GV!</h2>
        </section>
        <!--<div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.00,49.85 C150.00,149.60 260.95,-60.53 500.00,49.85 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: #fff;"></path></svg></div>-->
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestros productos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/img/labirinto1.jpg" alt="imagen no encontrada" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Las últimas tendencias</h3>
                    <p>Descubre las últimas tendencias literarias en nuestra biblioteca, donde la frescura de los bestsellers y las voces emergentes dan forma al panorama actual. Sumérgete en lo más emocionante que la literatura contemporánea tiene para ofrecer, todo a tu alcance aquí.</p>
                    <h3><span>2</span>Colecciones especiales</h3>
                    <p>Explora nuestras colecciones especiales cuidadosamente seleccionadas, que van desde clásicos atemporales hasta temas de actualidad. Sumérgete en mundos temáticos específicos y descubre joyas literarias relacionadas.</p>
                    <h3><span>2</span>Novedades mensuales</h3>
                    <p>Mantente al día con nuestras adquisiciones más recientes. Cada mes, destacamos las novedades literarias que han llegado a nuestras estanterías, desde los últimos éxitos hasta las revelaciones literarias emergentes.</p>
                </div>
            </div>
        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="/img/ilus1.png" alt="Descripción de la imagen">
                        <h3>Programas Culturales</h3>
                        <p>Sumérgete en la diversidad cultural a través de nuestros programas culturales. Desde eventos de música en vivo hasta proyecciones de películas y charlas sobre arte, ofrecemos experiencias que van más allá de las páginas de un libro. Conéctate con la riqueza cultural que la biblioteca tiene para ofrecer.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/img/ilus2.png" alt="Descripción de la imagen">
                        <h3>Espacios de Estudio y Coworking</h3>
                        <p>Facilitamos el aprendizaje y la colaboración proporcionando espacios dedicados para estudio y coworking. Ya sea que necesites un lugar tranquilo para estudiar o una área para trabajar en proyectos colaborativos, nuestra biblioteca te ofrece un entorno propicio para el crecimiento intelectual.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/img/ilus3.png" alt="Descripción de la imagen">
                        <h3>Asesoramiento Literario</h3>
                        <p>¿Buscas recomendaciones personalizadas? Nuestro servicio de asesoramiento literario te conecta con expertos bibliotecarios que pueden recomendarte libros adaptados a tus gustos y preferencias. Descubre nuevas lecturas que se ajusten a tus intereses específicos y enriquece tu experiencia de lectura.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <p>976877267</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>GVlibrary@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Calle Gran Vía, 7 (Madrid)</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
    </footer>
</body>
</html>