<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Reserva de Libro - Biblioteca Gran Vía</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/reservation-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
</header>
<main>
    <section class="reservation-form">
        <h2>Reserva de Libro</h2>
        <form action="#" method="post">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Nombre de Usuario"><br><br>
            <label for="libro">Libro:</label>
            <input type="text" id="libro" name="libro" placeholder="Título del Libro"><br><br>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha"><br><br>
            <input type="submit" value="Reservar">
        </form>
    </section>
</main>
<footer>
</footer>
</body>
</html>
