<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Página web IKREA</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/addTitle-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class="contenedor-menu-formulario">
            
            <nav>  
                <ul>
                 <li><a href="/">Inicio</a></li>
                 <li><a href="addTitle">Añadir Título</a></li>
                 <li><a href="addAuthor">Añadir Autor</a></li>
                 <li><a href="authors">Autores</a></li>
                 <li><a href="updateAuthor">Modificar Autor</a></li>
                 <li><a href="users/new">Registrar Usuario</a></li>
                </ul>
            </nav> 
        </div>
        
     <main> 

        <form action="#" 
        th:action="@{/update/{id}(id=${autor.id})}" 
        th:object="${autor}" 
        method="post">
        <label for="nombre">Nombre</label>
        <br/>
        <input type="text" th:field="*{nombreAutor}" id="nombre" placeholder="Nombre">
        <span th:if="${#fields.hasErrors('nombreAutor')}" th:errors="*{nombreAutor}"></span>
        <br/>
        <label for="apellido">Apellido</label><br/>
        <input type="text" th:field="*{apellido}" id="apellido" placeholder="Apellido">
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span><br/>
        <label for="nacimiento">Nacimiento</label><br/>
        <input type="date" th:field="*{fechaNacimiento}"/><br/>
          <input type="submit" value="Actualizar Autor">   
        </form>
     </main>

     <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <p>976877267</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>GV-library@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Calle Gran Vía, 7 (Madrid)</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
    </footer>
  </body>
  </html>