<!DOCTYPE html>
<html lang="es">
<head>
    <title>GRAN VÍA - En construcción</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicongranvia.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/stylebuild.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>  
</head>
<body>
    <div class="card">
        <div class="text">
          <h1>En construcción...</h1>
            <span>Nuestro escritor ha tomado un descanso para pensar nuevas historias, en breves podrás disfrutarlas todas...</span> <br><br>
            <div class="buttons"><a href="/" class="btn btn-primary">Volver a la página principal</a>
          </div>
        </div>        
      </div>
  </body>
</html>