<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Título no Encontrado</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/addTitle-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Error - Título no Encontrado</h1>
<p>Lo sentimos, el título no fue encontrado.</p>
<a href="/indexLendUser" class="button">Volver a buscar</a>
</body>
</html>
