<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Préstamo de Libro - Biblioteca Gran Vía</title>
  <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
  <link rel="stylesheet" href="css/loan-styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
</header>
<main>
  <section class="loan-form">
    <h2>Préstamo de Libro</h2>
    <form action="#" method="post">
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" name="usuario" placeholder="Nombre de Usuario"><br><br>
      <label for="libro">Libro:</label>
      <input type="text" id="libro" name="libro" placeholder="Título del Libro"><br><br>
      <label for="fecha_prestamo">Fecha de Préstamo:</label>
      <input type="date" id="fecha_prestamo" name="fecha_prestamo"><br><br>
      <label for="fecha_devolucion">Fecha de Devolución:</label>
      <input type="date" id="fecha_devolucion" name="fecha_devolucion"><br><br>
      <input type="submit" value="Realizar Préstamo">
    </form>
  </section>
</main>
<footer>
</footer>
</body>
</html>

