<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Préstamo de Libro - Biblioteca Gran Vía</title>
  <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
  <link rel="stylesheet" href="css/loan-styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Page Header-->
  <header class="section page-header">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-wide" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
              <div class="rd-navbar-main-outer">
                  <div class="rd-navbar-main">
                      <!-- RD Navbar Panel-->
                      <div class="rd-navbar-panel">
                          <!-- RD Navbar Toggle-->
                          <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                          <!-- RD Navbar Brand-->
                          <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="images/logogranvia.png" alt="" width="261" height="72" srcset="images/logogranvia_300x300.png"/><img class="brand-logo-light" src="images/logogranvia_250.png" alt="" width="133" height="45" srcset="images/logogranvia_small_125.png"/></a>
                          </div>
                      </div>
                      <div class="rd-navbar-nav-wrap">
                          <!-- RD Navbar Nav-->
                          <ul class="rd-navbar-nav">
                            <li class="rd-nav-item"><a class="rd-nav-link" href="indexUser">Inicio</a></li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="titlesUser">Títulos</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="authorsUser">Autores</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="indexLendUser">Prestamos</a></li>
                            <li class="rd-nav-item"><a class="rd-nav-link" href="indexBookingUser">Reservas</a></li> 
                            <li class="rd-nav-item">
                              <img src="images/user.png" alt="" srcset="" style="width: 90px; height: 90px; border-radius: 45px; margin-right: -5vh; padding: 2px">
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
  </header>
<main>
  <section class="loan-form">
    <h2>Préstamo de Libro</h2>
    <form action="#" method="post">
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" name="usuario" placeholder="Nombre de Usuario"><br><br>
      <label for="libro">Libro:</label>
      <input type="text" id="libro" name="libro" placeholder="Título del Libro"><br><br>
      <label for="fecha_prestamo">Fecha de Préstamo:</label>
      <input type="date" id="fecha_prestamo" name="fecha_prestamo"><br><br>
      <label for="fecha_devolucion">Fecha de Devolución:</label>
      <input type="date" id="fecha_devolucion" name="fecha_devolucion"><br><br>
      <input type="submit" value="Realizar Préstamo">
    </form>
  </section>
</main>
<footer>
</footer>
</body>
</html>

