<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Página web IKREA</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/addTitle-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="contenedor-menu-formulario">
        
    <nav>  
        <ul>
         <li><a href="index.html">Inicio</a></li>   
         <li><a href="authors.html">Servicios</a></li>
         <li><a href="addAuthor.html">Añadir Autor</a></li>
         <li><a href="addTitle.html">Añadir Título</a></li>
         <li><a href="updateAuthor.html">Modificar Autor</a></li>
         <li><a class="nav__link" href="#">Registrar Usuario</a></li>
        </ul>
    </nav>  
    </div>
    
 <main> 

    <form action="#" th:action="@{/addAuthor}" th:object="${autor}" method="post">
        <label for="nombre">Nombre</label>
        <br/>
        <input type="text" th:field="*{nombreAutor}" id="nombre" placeholder="Nombre">
        <span th:if="${#fields.hasErrors('nombreAutor')}" th:errors="*{nombreAutor}"></span>
        <label for="apellido">Apellido</label>
        <br/>
        <label for="apellido">Apellido</label><br/>
        <input type="text" th:field="*{apellido}" id="apellido" placeholder="Apellido">
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
        <input type="submit" value="Crear Autor">   
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span><br/>
        <label for="nacimiento">Nacimiento</label><br/>
        <input type="date" th:field="*{fechaNacimiento}"/><br/>
        <input type="submit" value="Crear Autor">  
    </form>
 </main>

 <footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>976877267</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>IKREA-library@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>gran vía, Madrid</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
</footer>
</body>
</html