<!DOCTYPE html>
<html class="wide wow-animation" lang="es">
<head>
    <title>GRAN VÍA - Titulo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicongranvia.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: rgba(33, 33, 33, 0.356);padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<body>

<div class="contenedor-menu-formulario">
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="addTitle">Gestionar Título</a></li>
            <li><a href="authors">Gestionar Autores</a></li>
            <li><a href="users/new">Registrar Usuario</a></li>
            <li><a href="users">Ver listado de Usuario</a></li>
        </ul>
    </nav>
</div>

<main style="padding-top: 80px;">
    <div class="container-fluid text-center">
        <h1>Titulo Guardado con Exito</h1>

        <!-- Botón para regresar al índice -->
        <a href="/index" class="btn btn-primary">Volver</a>
    </div>
</main>


<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Teléfono</h4>
            <p>976877267</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>GVlibrary@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Ubicación</h4>
            <p>Calle Gran Vía, 7 (Madrid)</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
</footer>

</body>
</html>
