<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Página web IKREA</title>
    <link rel="shortcut icon" href="img/I.png" type="image/x-icon">
    <link rel="stylesheet" href="css/addTitle-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="contenedor-menu-formulario">
        
    <nav>  
        <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="addTitle">Añadir Título</a></li>
                <li><a href="addAuthor">Añadir Autor</a></li>
                <li><a href="authors">Autores</a></li>
                <li><a href="updateAuthor">Modificar Autor</a></li>
                <li><a href="users/new">Registrar Usuario</a></li>
        </ul>
    </nav>  
    </div>

<main>
<form th:action="@{/editTitle/{id}(id=${titulo.id})}" th:object="${titulo}" method="post">
    <label for="titulo">Titulo:</label>
    <input type="text" th:field="${titulo.nombre}"/>
    <br><br>
    <label for="isbn">ISBN:</label>
    <input type="text" th:field="*{isbn}"><br/><br/>
    <label for="numReserva">Número de reserva:</label>
    <input type="number" th:field="*{numReservas}"/><br/><br/>
    <label for="autor">Autor:</label>
    <select name="autor" th:field="*{autor}" multiple="multiple">
         <option value="">Select an author</option>
         <th:block th:each="author : ${autoresTodos}">
             <option th:value="${author.id}" th:text="${author.nombreAutor} +' '+ ${author.apellido}" ></option>
         </th:block>
     </select>
     <br><br>
    <input type="submit" value="Editar Titulo" />
</form>
</main>

<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Teléfono</h4>
            <p>976877267</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>ikreagroupe@gmail.com</p>
        </div>
        <div class="content-foo">
            <h4>Ubicación</h4>
            <p>Calle Gran Vía, 7 (Madrid)</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; IKREA | BIBLIOTECA GRAN VÍA </h2>
</footer>
</body>
</html>
